h2 {
  color: #428bca;
}

p {
  font-size: 16px;
}

a:hover {
  text-decoration: none;
}

.indent {
  padding-left: 20px;
}

.footer {
  background-color: #222;
  padding-top: 20px;
  padding-bottom: 10px;
  color: #428bca;
}

.social-icons {
  margin-right: 20px;
}

.twitter {
  background-color: #00aced;
  color: #ffffff;
}

.fcc {
  background-color: darkgreen;
}

.linkedin {
  background-color: #007bb6;
  color: #ffffff;
}

.email {
  background-color: #008800;
  color: #ffffff;
}

body {
  background-color: #555;
}

.content {
  color: #fff;
  padding: 50px;
}

.portfolio-thumb {
  max-width: 250px;
  max-height: 250px;

}

.thumb-wrap {
  overflow: hidden;
  max-width: 255px;
  margin: 5px auto;
  border: 2px solid #000;
  box-shadow: 5px 5px 2px #000;
}

.grid-item {
  overflow: hidden;
  max-height: 320px;
}

.grid-title {
  margin: 0 auto;
  text-align: center;
}

.grid {
  margin-bottom: 20px;
}

.hidden {
  display: none;
}

.subsection {
  color: #1ba3dc;
}
